<h1>Register</h1>
<form action="/register/Personal" method="GET">
    <button type="submit" id="Personal" name="Personal">Personal</button>
</form>
<form action="/register/Empresarial" method="GET">
    <button type="submit" id="Empresarial" name="Empresarial" style="display: inline;">Empresarial</button>
</form>

